<AuthorizeView>
    @page "/addstock"
    @using FPProjectStudentSuccess.Entities;

    @inject FPProjectStudentSuccessBSA.Service.ProductService PdtSrv

    <h3>Add Stock</h3>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputName" class="form-label"><b>Product Name</b></label>
            <input type="text" class="form-control" id="inputName" @bind="name">
        </div>
        <div class="col-md-6">
            <label for="inputPublisher" class="form-label"><b>Publisher</b></label>
            <input type="text" class="form-control" id="inputPublisher" @bind="publisher">
        </div>
        <div class="col-md-6">
            <label for="inputPlataform" class="form-label"><b>Plataform</b></label>
            <div>
                <label>
                    <input type="radio" value="PC" name="plataform" aria-label="PC" id="PC" @onclick="@(()=>plataform = "PC")" /> PC
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="XBOXX" name="plataform" aria-label="XBOXX" id="XBOXX"
                           @onclick="@(()=>plataform = "XBox Series X")" /> XBox Series X
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="XBOX1" name="plataform" aria-label="XBOX1" id="XBOX1"
                           @onclick="@(()=>plataform = "XBox One")" /> XBox One
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="PS5" name="plataform" aria-label="PS5" id="PS5" @onclick="@(()=>plataform = "PS5")" /> PS5
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="PS4" name="plataform" aria-label="PS4" id="PS4" @onclick="@(()=>plataform = "PS4")" /> PS4
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" value="Switch" name="plataform" aria-label="Switch" id="SWITCH"
                           @onclick="@(()=>plataform = "Nintendo Switch")" /> Nintendo Switch
                </label>
            </div>
        </div>
        <div class="col-12">
            <label for="inputQuantity" class="form-label"><b>Quantity</b></label>
            <input type="number" class="form-control" id="inputQuantity" @bind="quantity">
        </div>
        <div class="col-md-6">
            <label for="inputYear" class="form-label"><b>Year</b></label>
            <input type="number" class="form-control" id="inputYear" min="1900" max="2022" @bind="year">
        </div>
        <div class="col-md-6">
            <label for="inputPrice" class="form-label"><b>Price</b></label>
            <input type="number" class="form-control" id="inputPrice" min="0.00" max="10000.00" step="0.01" @bind="price">
        </div>
        <div class="col-md-6">
        </div>
        <br />
        <div class="col-12">
            <button type="submit" class="btn btn-primary" @onclick="SubmitData">Add Stock</button>
        </div>
    </form>
    <br />
</AuthorizeView>

@code {
    string name = "";
    string publisher = "";
    string plataform = "";
    int quantity = 0;
    int year = 2022;
    decimal price = 0;

    protected async Task SubmitData()
    {
        await PdtSrv.InsertProductAsync(name, publisher, plataform, quantity, year, price);
    }
}
